doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= page.title
    link(rel='stylesheet', href='/vendor/foundation/css/normalize.css')
    link(rel='stylesheet', href='/vendor/foundation/css/foundation.css')
    link(rel='stylesheet', href='/vendor/foundation-icon-fonts/foundation-icons.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='icon', type='image/png', href='/img/logo.png')
    script(src='/vendor/foundation/js/vendor/modernizr.js')
  body(id=page.metadata.id)
    div.row.display.small-collapse
      div.columns.small-3
        a.menu-icon(href='#', data-dropdown='main_menu', aria-controls='main_menu', aria-expanded='false')
          i.fi-list.icon-large
      div.columns.small-6
        h2#brand.text-center
          a(href='/',title=locals.brand)
            img(src='/img/logo-lg.png', alt='locals.brand')
      div.columns.small-2
        ul.inline-list.right
          li
            a.menu-icon(href='https://plus.google.com/b/103577129197474832140/103577129197474832140/about')
              i.fi-social-google-plus.icon-medium
          li
            a.menu-icon(href='https://twitter.com/cyberstride')
              i.fi-social-twitter.icon-medium
    ul#main_menu.menu.f-dropdown(data-dropdown-content='', aria-hidden='true', tabindex='-1')
      li
        a.fi-torso-business.icon-small(href='/about.html') About Us
      li
        a.fi-wrench.icon-small(href='/services.html') Services
      li
        a.fi-mail.icon-small(href='/contact.html') Contact Us

    block content
    footer#bottom
      div.wrap.row
        div.scripts
          script(src='/vendor/jquery/dist/jquery.min.js')
          script(src='/vendor/foundation/js/foundation.min.js')
          script(src='/scripts/main.js')

