extends ./layout.jade

block content
  section#page.row
    div.columns.small-8.small-centered!= page.html
  section.row
    div.columns.small-8.small-centered
      a.button.success(href='/contact.html') Contact us to discover how!